@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* Banner Section Style */
.banner {
  background-image: url(../images/donation5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  background-blend-mode: unset;
  text-align: center;
}
.banner_content {
  padding-top: 150px;
}
.title_description {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}
.btn-primary {
  background-color: orangered;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  margin-top: 40px;
}
h1 {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 35px;
}

/* Donate Today section */

.primary-title{
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 35px;
}