@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* Banner Section Style */
.banner {
  background-image: url(../images/donation5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  background-blend-mode: unset;
  text-align: center;
}
.banner_content {
  padding-top: 150px;
}
.banner_description {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}
.btn-primary {
  background-color: orangered;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  margin-top: 40px;
  text-align: center;
}
h1 {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 35px;
}

/* Donate Today section */

.primary-title {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 100px;
  text-align: center;
}
.title_description {
  color: #757575;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  margin-bottom: 50px;
}

.donation_amount_section {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 80px;
}

.donation_amount {
  width: 120px;
  height: 90px;
  background-color: #ebe8e8;
  font-size: 25px;
  color: #757575;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 15px;
  overflow: hidden;
}

.donation_amount:hover {
  border: 2px solid red;
  background-color: #ffbaba;
  color: red;
}

.other_amount {
  text-align: center;
  color: #c9c4c4;
  margin-bottom: 10px;
  font-size: 18px;
}

.border {
  border-bottom: 2px solid #c9c4c4;
  width: 800px;
  margin: 0 auto;
}
.donate_btn {
  text-align: center;
}

/* Donate plan Section style */
.Donate_plan_Section{
  margin-bottom: 70px;
}
.Donate_plan {
  display: flex;
  gap: 20px;
  padding: 20px 150px;
  margin-bottom: 80px;
}

.donation_title {
  margin: 20px 0;
}
.food {
  background-color: rgb(235, 244, 246);
  padding: 50px 20px;
}
.shelter {
  background-color: rgb(255, 234, 234);
  padding: 50px 20px;
}
.education {
  background-color: rgb(255 235 199);
  padding: 50px 20px;
}

/* Their lives Section style */
.their_lives_section{
  width: 1200px;
  display: flex;
  gap: 120px;
  padding: 20px 150px;
  margin-bottom: 80px;
}
.lives_img{
  width: 400px;
}